.Map {
    width: 75%;
    margin: 100px auto 0px;

}

.SouthAmerica, .NorthAmerica,
.Europe, .Asia, .Australia,
.Africa{
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 0.5;
}

.SouthAmerica:hover, .NorthAmerica:hover,
.Europe:hover, .Asia:hover, .Australia:hover,
.Africa:hover {
    fill: #3884ad;
    cursor: pointer;
}

.SouthAmerica::after{
    fill: black;
}

/* .SouthAmerica_active {
    fill: #3884ad;
} */

.a path:active{
    fill: #3884ad;
}

